/**** général ****/
section{
    padding: 0 20px;
}
#hebergements,#activites,aside,footer{
    padding: 30px 20px
}

/*fonts*/
/*classique*/
@font-face{
    font-family: "Raleway-Medium";
    src: url(font/Raleway-Medium.ttf);
}
/*gras*/
@font-face {
    font-family: "Raleway-Bold";
    src: url(font/Raleway-Bold.ttf);
}
/* Utilise Raleway-Medium */
body {
    font-family:"Raleway-Medium",sans-serif;
    
}
/* Utilise Raleway-Bold */
h1,h2,h3,h4,#titre-filtre,b,header>a,section#recherche>form>input,section#recherche>div>ul>li>a>span,section#hebergements>a{
    font-family: "Raleway-Bold";
}
/* fin fonts */

/* titres */
h1,h2{
    text-align: left;
    margin-bottom: 15px;
}
h2{
    margin-top: 0;
    font-size: 1.3em;
}
h3{
    font-size: 1em;
    margin:0;
}
h4,#titre-filtre{
    font-size: 1.2em;
    margin: 0;
    padding: 10px 0;
}
/* fin titre */
/* icone */
.icone{
    width: 20px;
    height: 20px;
}
.star{
    width: 13px;
}
/* notation étoile */
.note-etoile{
    display: flex;
    flex-direction: row;
    align-self: end;
}
/**** fin général ****/

/**** body ****/
body {
    margin: 0px;
}
/**** fin body ****/

/****header (conteneur de logo, s'inscrire et nav)****/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
/***logo****/
header>img {
    padding: 0 20px;
    width: 100px;
}
/***lien s'inscrire***/
header>a{
    text-decoration: none;
    color: #0065FC;
    font-size: 1.2em;
    padding: 0 20px;
}
/***navigation***/
nav{
    width: 100%;
}
nav>ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
    text-align: center;
}
nav>ul>li{
    width: 50%;
    border-bottom: 3px solid #F2F2F2;
    padding: 10px;
}
/**bordure lien actif**/
nav>ul>li.lien-actif{
    border-bottom: 3px solid #0065FC;
}
nav>ul>li>a{
    text-decoration: none;
    font-size: 1em; 
    font-weight: bold;
    color: black;     
}
nav>ul>li>a:hover{
    color: #0065FC;
}
nav > ul > li:hover {
    border-bottom: 3px solid #0065FC;
}
/** lien actif **/
nav>ul>li.lien-actif>a{
    color: #0065FC;
}
/**** fin header ****/

/**** Section Recherche ****/
section#recherche{
    padding-top: 5px;
}
/*** Description ***/
section#recherche>span{
    font-size: 1.1em;
}
/*** zone de recherche ***/
section#recherche>form{
    margin: 30px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
section#recherche>form>input{
    font-size: 1.2em;
    border: 1px solid #F2F2F2;
    padding: 10px;
    width: 65%;
    height: 60px;
}
section#recherche>form>img{
    width: 20px;
    padding: 20px;
}
section#recherche>form>img.point-map{
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    padding: 20px ;
}
section#recherche>form>img.recherche{
    background-color: #0065FC;
    border-radius: 10px;
    margin-left: -10px;  
    padding: 20px ;
}
section#recherche>form>span{
    display: none;
    width: 0px;
    margin: -100px;
}
/*** Filtres ***/
section#recherche>div>ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
section#recherche>div>ul>li{
    margin: 5px 5px 5px 0;
}
section#recherche>div>ul>li>a{
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 100px;
    text-decoration: none;
}
section#recherche>div>ul>li>a>img.icone{
    border-radius: 100px;
    background-color: #DEEBFF;
    padding: 12px;
    margin: -2px;
}
section#recherche>div>ul>li>a>span{
    padding: 10px 20px;
    color: #000;
}
/***Information***/
section#recherche>div:last-child{
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 30px 0;
}
section#recherche>div>img.icone{
    border-radius: 100px;
    border: #F2F2F2 1px solid ;
}
section#recherche>div>img.information{
    width: 13px;
    height: 10px;
    border: 2px #F2F2F2 solid;
    padding: 5px;
}
section#recherche>div>p{
    margin: 3px 0 0 10px;
    
}
/**** fin section recherche ****/
/**** Aside ****/ 
aside{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
}
/*** Titre ***/
aside>div{
    display: flex;
    justify-content: space-between;
}
/*** Hebergements ***/
aside>article>a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
}
aside>article>a>img{
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 15px 0px 0 15px;
    margin: 3px;
    overflow: hidden;
}
aside>article>a>div{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 200px;
}
aside>article>a>div>p{
    padding: 0px;
    margin: -10px 0;
    font-size: 0.9em;
}
/**** fin aside ****/

/**** Hebergement & Activités ****/
div#hebergement-general>section#hebergements>div>article, section#activites>div#container>article, section#activites>div#container>div.container-deux-sections>article, aside>article{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 29px -20px rgba(0,0,0,0.75);
}
div#hebergement-general>section#hebergements>div>article, aside>article{
    margin: 5px 0;
    padding: 3px;
}
div#hebergement-general>section#hebergements>div>article>a, section#activites>div#container>article>a,section#activites>div#container>div.container-deux-sections>article>a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}
div#hebergement-general>section#hebergements>div>article>a>img, section#activites>div#container>article>a>img, section#activites>div#container>div.container-deux-sections>article>a>img{
    height: 125px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
/**** Hebergement ****/
div#hebergement-general>section#hebergements>div>article>a>div{
    padding: 10px 20px;
}
div#hebergement-general>section#hebergements>div>article>a>div>p{
    margin: 5px 0;
    font-size: 0.9em;
}
div#hebergement-general>section#hebergements>div>article:nth-child(7){
    margin-bottom: 30px;
}
div#hebergement-general>section#hebergements>a{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}
div#hebergement-general>section#hebergements>div>article:hover, aside>article:hover,section#activites > div#container > article:hover,section#activites > div#container > div> article:hover {
    transform: scale(1.1);
    transition: 500ms;
}
/**** fin hebergements ****/
/**** Activites ****/
section#activites > div#container > article, section#activites > div#container > div.container-deux-sections > article{
    padding: 0;
    margin: 30px 0;
}
section#activites> div#container > article > a > h3, section#activites> div#container > div.container-deux-sections > article > a > h3{
    padding: 20px;
}

/**** Fin activites ****/
/**** Footer ****/
footer{
    background-color: #F2F2F2;

}
footer>article{
    display: flex;
    flex-direction:column ;
    margin-bottom: 30px;
}
footer>article>a{
    margin: 5px 0;
    font-size: 1.1em;
}
/**** Fin footer ****/

/*Ordinateur*/
@media screen and (min-width: 1024px){

h2{
    font-size: 1.3em;
}

/**** header ****/
header{
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: baseline;
}
header>img{
    position: absolute;
    left: 0;
    align-self: center;
}
header>a{
    order: 1;
}
nav{
    width: auto;
}
nav>ul{
    margin-top: 0;
}
nav>ul>li{
    padding: 40px 40px 0px 40px;
    border-bottom: none;
    border-top: 2px solid white;
}
nav>ul>li:hover{
    border-top: 2px solid #0065FC;
    border-bottom: none;
}

nav>ul>li.lien-actif{
    border-top: 2px solid #0065FC;
    border-bottom: none;
}
/**** fin header ****/
/**** section recherche ****/
h1{
    margin: 0;
    padding: 5px 0;
    font-size: 1.4em
}
section#recherche>form{
    margin: 20px 0;
}
section#recherche>form>input{
    width: 250px;
    height: 50px;
    padding: 20px;
    font-size: 1.2em;
}
section#recherche > form > img.point-map{
    padding: 0 20px;
    height: 50px;
    width: 15px;
    border-radius: 15px 0 0 15px;
}
section#recherche > span {
    padding: 10px 0;
    font-size: 1.05em;
}
section#recherche > form > img.recherche{
    display: none;
    width: 0;
    margin: 0;
    padding: 0;
}
section#recherche > form > span{
    display: block;
    margin: 0;
    width: auto;
    align-self: center;
    line-height: 50px;
    padding: 0 15px;
    font-size: 1.1em;
    background-color: #0065FC;
    color: white;
    border-radius: 0 15px 15px 0;
}

/**filtres**/
section#recherche > div{
    display: flex;
    align-items: center;
}
section#recherche > div > div#titre-filtre{
    margin: 0 15px;
    font-size: 1.1em;

}
section#recherche > div > ul > li{
    margin: 10px 13px;

}
section#recherche > div > ul > li > a > img.icone{
    padding: 15px;
}
section#recherche > div > ul > li > a > span {
    padding: 5px 20px;
    font-size: 1.2em;
}
section#recherche > div:last-child{
    justify-content: start;
    margin: 30px 15px;
}
section#recherche > div > img.information{
    height: 13px;
}
section#recherche > div > p{
    font-size: 1.1em;
}
/**** fin recherche ****/
/**** hebergement ****/
div#hebergement-general{
    display: flex;
    justify-content: space-between;
}
div#hebergement-general > section#hebergements > div > article, aside > article{
    padding: 4px;
}
/*** aside ***/
aside{
    order: 1;
    margin: 0 20px;
    padding: 30px;
    border-radius: 15px;
    border-radius: 15px;
    margin-left: 5px;
}
aside > div{
    margin-bottom: 5px;
}
aside > article {
    margin-bottom: 40px;
    margin-top: 0;
}
aside > article > a > img{
    margin: 0;
    width: 140px;
    height: 140px;
}
aside > article > a > div{
    padding: 15px;
    width: 170px;
}
aside > article > a > div > p{
    height: min-content;
}

/*** hebergements ***/
div#hebergement-general>section#hebergements {
    width: 100%;
    padding: 30px;
    background-color: #F2F2F2;
    margin: 0 35px;
    border-radius: 15px ;
}
div#hebergement-general>section#hebergements > a {
    font-size: 1.2em;
}
div#hebergement-general>section#hebergements>div{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
}
div#hebergement-general>section#hebergements>div>h2{
    margin: 20px;
}
div#hebergement-general>section#hebergements>div>article{
    width: 30%;
    margin: 0 auto 40px auto;
}
div#hebergement-general > section#hebergements > div > article:nth-child(1) {
    margin: 0 auto 40px 0;
} 
div#hebergement-general > section#hebergements > div > article:nth-child(4) {
    margin: 0 auto 40px 0;
}
div#hebergement-general > section#hebergements > div > article:nth-child(3) {
    margin: 0 0 40px auto;
}
div#hebergement-general > section#hebergements > div > article:nth-child(6){
    margin: 0 0 40px auto;
}
div#hebergement-general > section#hebergements > div > article > a > div {
    padding: 10px 10px;
}
/**** fin hebergements ****/
/**** Activites ****/
section#activites{
    padding: 30px 0;
    margin: 35px;
}
section#activites > div#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
section#activites > div#container > div.container-deux-sections:nth-child(2) > article:nth-child(1) > a > img, section#activites > div#container > div.container-deux-sections:nth-child(4) > article:nth-child(2) > a > img{
    height: 175px;
}
section#activites > div#container > div.container-deux-sections > article:nth-child(1){
    margin-bottom: 40px;
}
section#activites > div#container > article{
    width: 22%;
}
section#activites > div#container > div.container-deux-sections{
    width: 23%;
}
section#activites > div#container > article,section#activites > div#container > div.container-deux-sections > article  {
    margin: 0;
}
section#activites > div#container > article > a >img{
    height: 400px;
}
section#activites > div#container > article > a > h3, section#activites > div#container > div.container-deux-sections > article > a > h3{
    height: 20px;
}
/**** footer ****/
footer{
    display: flex;
    justify-content: space-between;
}
footer > article {
    margin: 0 200px 0px 30px;
    width: 240px;
}
footer > article > a{
    font-size: 0.9em;
}
footer > article > h4{
    font-size: 1em;
}
footer > article:nth-child(3){
    margin-right: 0px;
}
}

/*Tablette*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
/**** Aside ****/
aside{
    flex-wrap: wrap;
    flex-direction: row;
}
aside > div{
    width: 100%;
    justify-content: flex-start;
}
aside > div >img{
    margin: 2px 10px;
}
aside > article {
    margin: auto;
    margin-top: 10px;
}
aside > article > a > div{
    width: 150px;
}
/**** Hebergements ****/
div#hebergement-general > section#hebergements > div {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div#hebergement-general > section#hebergements > div > article{
    width: 30%;
}
/**** Activités ****/
h3 {
    font-size: 0.9em;
}
section#activites > div#container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
section#activites > div#container > article{
    width: 20%;
    height: 405px;
}
section#activites > div#container > article > a >img{
    height: 340px;
}
section#activites > div#container > div.container-deux-sections > article {
    padding: 0;
    margin: 35px 0;
}
/**** footer ****/
footer{
    display: flex;
    justify-content: space-between;
}
footer > article{
    margin: 0 10px;
}
/**** fin footer ****/    
}
